._ovs-contain {
  overscroll-behavior: contain;
}
.is_Text .is_Text {
  display: inline-flex;
}
._dsp_contents {
  display: contents;
}
:root {
  --color-1: hsl(206, 100%, 99.2%);
  --color-2: hsl(210, 100%, 98%);
  --color-3: hsl(209, 100%, 96.5%);
  --color-4: hsl(210, 98.8%, 94%);
  --color-5: hsl(209, 95%, 90.1%);
  --color-6: hsl(209, 81.2%, 84.5%);
  --color-7: hsl(208, 77.5%, 76.9%);
  --color-8: hsl(206, 81.9%, 65.3%);
  --color-9: hsl(206, 100%, 50%);
  --color-10: hsl(208, 100%, 47.3%);
  --color-11: hsl(211, 100%, 43.2%);
  --color-12: hsl(211, 100%, 15%);
  --color-13: hsl(0, 0%, 99%);
  --color-14: hsl(0, 0%, 97.3%);
  --color-15: hsl(0, 0%, 95.1%);
  --color-16: hsl(0, 0%, 93%);
  --color-17: hsl(0, 0%, 90.9%);
  --color-18: hsl(0, 0%, 88.7%);
  --color-19: hsl(0, 0%, 85.8%);
  --color-20: hsl(0, 0%, 78%);
  --color-21: hsl(0, 0%, 56.1%);
  --color-22: hsl(0, 0%, 52.3%);
  --color-23: hsl(0, 0%, 43.5%);
  --color-24: hsl(0, 0%, 9%);
  --color-25: hsl(136, 50%, 98.9%);
  --color-26: hsl(138, 62.5%, 96.9%);
  --color-27: hsl(139, 55.2%, 94.5%);
  --color-28: hsl(140, 48.7%, 91%);
  --color-29: hsl(141, 43.7%, 86%);
  --color-30: hsl(143, 40.3%, 79%);
  --color-31: hsl(146, 38.5%, 69%);
  --color-32: hsl(151, 40.2%, 54.1%);
  --color-33: hsl(151, 55%, 41.5%);
  --color-34: hsl(152, 57.5%, 37.6%);
  --color-35: hsl(153, 67%, 28.5%);
  --color-36: hsl(155, 40%, 14%);
  --color-37: hsl(280, 65%, 99.4%);
  --color-38: hsl(276, 100%, 99%);
  --color-39: hsl(276, 83.1%, 97%);
  --color-40: hsl(275, 76.4%, 94.7%);
  --color-41: hsl(275, 70.8%, 91.8%);
  --color-42: hsl(274, 65.4%, 87.8%);
  --color-43: hsl(273, 61%, 81.7%);
  --color-44: hsl(272, 60%, 73.5%);
  --color-45: hsl(272, 51%, 54%);
  --color-46: hsl(272, 46.8%, 50.3%);
  --color-47: hsl(272, 50%, 45.8%);
  --color-48: hsl(272, 66%, 16%);
  --color-49: hsl(359, 100%, 99.4%);
  --color-50: hsl(359, 100%, 98.6%);
  --color-51: hsl(360, 100%, 96.8%);
  --color-52: hsl(360, 97.9%, 94.8%);
  --color-53: hsl(360, 90.2%, 91.9%);
  --color-54: hsl(360, 81.7%, 87.8%);
  --color-55: hsl(359, 74.2%, 81.7%);
  --color-56: hsl(359, 69.5%, 74.3%);
  --color-57: hsl(358, 75%, 59%);
  --color-58: hsl(358, 69.4%, 55.2%);
  --color-59: hsl(358, 65%, 48.7%);
  --color-60: hsl(354, 50%, 14.6%);
  --color-61: hsl(60, 54%, 98.5%);
  --color-62: hsl(52, 100%, 95.5%);
  --color-63: hsl(55, 100%, 90.9%);
  --color-64: hsl(54, 100%, 86.6%);
  --color-65: hsl(52, 97.9%, 82%);
  --color-66: hsl(50, 89.4%, 76.1%);
  --color-67: hsl(47, 80.4%, 68%);
  --color-68: hsl(48, 100%, 46.1%);
  --color-69: hsl(53, 92%, 50%);
  --color-70: hsl(50, 100%, 48.5%);
  --color-71: hsl(42, 100%, 29%);
  --color-72: hsl(40, 55%, 13.5%);
  --color-73: hsl(180, 29%, 17%);
  --color-74: hsl(180, 36%, 22%);
  --color-75: hsl(166, 30%, 29%);
  --color-76: hsl(166, 55%, 31%);
  --color-77: hsl(171, 96%, 28%);
  --color-78: hsl(148, 44%, 47%);
  --color-79: hsl(144, 55%, 57%);
  --color-80: hsl(144, 73%, 68%);
  --color-81: hsl(133, 54%, 78%);
  --color-82: hsl(133, 63%, 83%);
  --color-83: hsl(122, 53%, 88%);
  --color-84: hsl(123, 50%, 93%);
  --color-85: hsl(125, 50%, 96%);
  --color-86: hsl(212, 35%, 9.2%);
  --color-87: hsl(216, 50%, 11.8%);
  --color-88: hsl(214, 59.4%, 15.3%);
  --color-89: hsl(214, 65.8%, 17.9%);
  --color-90: hsl(213, 71.2%, 20.2%);
  --color-91: hsl(212, 77.4%, 23.1%);
  --color-92: hsl(211, 85.1%, 27.4%);
  --color-93: hsl(211, 89.7%, 34.1%);
  --color-94: hsl(206, 100%, 50%);
  --color-95: hsl(209, 100%, 60.6%);
  --color-96: hsl(210, 100%, 66.1%);
  --color-97: hsl(206, 98%, 95.8%);
  --color-98: hsl(0, 0%, 8.5%);
  --color-99: hsl(0, 0%, 11%);
  --color-100: hsl(0, 0%, 13.6%);
  --color-101: hsl(0, 0%, 15.8%);
  --color-102: hsl(0, 0%, 17.9%);
  --color-103: hsl(0, 0%, 20.5%);
  --color-104: hsl(0, 0%, 24.3%);
  --color-105: hsl(0, 0%, 31.2%);
  --color-106: hsl(0, 0%, 43.9%);
  --color-107: hsl(0, 0%, 49.4%);
  --color-108: hsl(0, 0%, 62.8%);
  --color-109: hsl(0, 0%, 93%);
  --color-110: hsl(146, 30%, 7.4%);
  --color-111: hsl(155, 44.2%, 8.4%);
  --color-112: hsl(155, 46.7%, 10.9%);
  --color-113: hsl(154, 48.4%, 12.9%);
  --color-114: hsl(154, 49.7%, 14.9%);
  --color-115: hsl(154, 50.9%, 17.6%);
  --color-116: hsl(153, 51.8%, 21.8%);
  --color-117: hsl(151, 51.7%, 28.4%);
  --color-118: hsl(151, 55%, 41.5%);
  --color-119: hsl(151, 49.3%, 46.5%);
  --color-120: hsl(151, 50%, 53.2%);
  --color-121: hsl(137, 72%, 94%);
  --color-122: hsl(284, 20%, 9.6%);
  --color-123: hsl(283, 30%, 11.8%);
  --color-124: hsl(281, 37.5%, 16.5%);
  --color-125: hsl(280, 41.2%, 20%);
  --color-126: hsl(279, 43.8%, 23.3%);
  --color-127: hsl(277, 46.4%, 27.5%);
  --color-128: hsl(275, 49.3%, 34.6%);
  --color-129: hsl(272, 52.1%, 45.9%);
  --color-130: hsl(272, 51%, 54%);
  --color-131: hsl(273, 57.3%, 59.1%);
  --color-132: hsl(275, 80%, 71%);
  --color-133: hsl(279, 75%, 95.7%);
  --color-134: hsl(353, 23%, 9.8%);
  --color-135: hsl(357, 34.4%, 12%);
  --color-136: hsl(356, 43.4%, 16.4%);
  --color-137: hsl(356, 47.6%, 19.2%);
  --color-138: hsl(356, 51.1%, 21.9%);
  --color-139: hsl(356, 55.2%, 25.9%);
  --color-140: hsl(357, 60.2%, 31.8%);
  --color-141: hsl(358, 65%, 40.4%);
  --color-142: hsl(358, 75%, 59%);
  --color-143: hsl(358, 85.3%, 64%);
  --color-144: hsl(358, 100%, 69.5%);
  --color-145: hsl(351, 89%, 96%);
  --color-146: hsl(45, 100%, 5.5%);
  --color-147: hsl(46, 100%, 6.7%);
  --color-148: hsl(45, 100%, 8.7%);
  --color-149: hsl(45, 100%, 10.4%);
  --color-150: hsl(47, 100%, 12.1%);
  --color-151: hsl(49, 100%, 14.3%);
  --color-152: hsl(49, 90.3%, 18.4%);
  --color-153: hsl(50, 100%, 22%);
  --color-154: hsl(53, 92%, 50%);
  --color-155: hsl(54, 100%, 68%);
  --color-156: hsl(48, 100%, 47%);
  --color-157: hsl(53, 100%, 91%);
  --color-158: hsl(123, 50%, 93%);
  --color-159: hsl(122, 53%, 88%);
  --color-160: hsl(125, 100%, 98%);
  --color-161: hsl(166, 55%, 31%);
  --color-162: hsl(171, 96%, 28%);
  --color-163: hsl(148, 44%, 47%);
  --color-164: hsl(144, 55%, 57%);
  --color-165: hsl(144, 73%, 68%);
  --color-166: hsl(133, 54%, 78%);
  --color-167: hsl(166, 30%, 29%);
  --color-168: hsl(180, 36%, 22%);
  --color-169: hsl(180, 29%, 17%);
  --color-170: hsl(180, 41%, 8%);
  --radius-1: 0px;
  --radius-2: 3px;
  --radius-3: 5px;
  --radius-4: 7px;
  --radius-5: 9px;
  --radius-6: 10px;
  --radius-7: 16px;
  --radius-8: 19px;
  --radius-9: 22px;
  --radius-10: 26px;
  --radius-11: 34px;
  --radius-12: 42px;
  --radius-13: 50px;
  --radius-14: 9px;
  --zIndex-1: 0;
  --zIndex-2: 100;
  --zIndex-3: 200;
  --zIndex-4: 300;
  --zIndex-5: 400;
  --zIndex-6: 500;
  --space-1: 0px;
  --space-5: 2px;
  --space-7: 7px;
  --space-9: 13px;
  --space-11: 18px;
  --space-14: 24px;
  --space-15: 32px;
  --space-16: 39px;
  --space-17: 46px;
  --space-18: 53px;
  --space-19: 60px;
  --space-20: 74px;
  --space-21: 88px;
  --space-22: 102px;
  --space-23: 116px;
  --space-24: 130px;
  --space-25: 144px;
  --space-26: 144px;
  --space-27: 158px;
  --space-28: 172px;
  --space-29: 186px;
  --space-2: 0.5px;
  --space-3: 1px;
  --space-4: 1.5px;
  --space-6: 4px;
  --space-8: 10px;
  --space-10: 16px;
  --space-12: 18px;
  --space-13: 21px;
  --space-30: -0.5px;
  --space-31: -1px;
  --space-32: -1.5px;
  --space-33: -2px;
  --space-34: -4px;
  --space-35: -7px;
  --space-36: -10px;
  --space-37: -13px;
  --space-38: -16px;
  --space-39: -18px;
  --space-40: -18px;
  --space-41: -21px;
  --space-42: -24px;
  --space-43: -32px;
  --space-44: -39px;
  --space-45: -46px;
  --space-46: -53px;
  --space-47: -60px;
  --space-48: -74px;
  --space-49: -88px;
  --space-50: -102px;
  --space-51: -116px;
  --space-52: -130px;
  --space-53: -144px;
  --space-54: -144px;
  --space-55: -158px;
  --space-56: -172px;
  --space-57: -186px;
  --size-1: 0px;
  --size-5: 20px;
  --size-7: 28px;
  --size-9: 36px;
  --size-11: 44px;
  --size-14: 52px;
  --size-15: 64px;
  --size-16: 74px;
  --size-17: 84px;
  --size-18: 94px;
  --size-19: 104px;
  --size-20: 124px;
  --size-21: 144px;
  --size-22: 164px;
  --size-23: 184px;
  --size-24: 204px;
  --size-25: 224px;
  --size-26: 224px;
  --size-27: 244px;
  --size-28: 264px;
  --size-29: 284px;
  --size-2: 2px;
  --size-3: 4px;
  --size-4: 8px;
  --size-6: 24px;
  --size-8: 32px;
  --size-10: 40px;
  --size-12: 44px;
  --size-13: 48px;
}
:root .font_heading,
:root .t_lang-heading-default .font_heading {
  --f-fa: Inter, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif;
  --f-li-1: 45px;
  --f-li-2: 37.5px;
  --f-li-3: 30px;
  --f-li-4: 27.5px;
  --f-li-5: 25px;
  --f-li-6: 22.5px;
  --f-li-7: 25px;
  --f-li-8: 28.75px;
  --f-li-9: 37.5px;
  --f-li-10: 57.5px;
  --f-li-11: 68.75px;
  --f-li-12: 77.5px;
  --f-li-13: 90px;
  --f-li-14: 115px;
  --f-li-15: 142.5px;
  --f-li-16: 167.5px;
  --f-li-17: 37.5px;
  --f-we-1: 700;
  --f-we-2: 500;
  --f-we-3: 400;
  --f-we-4: 200;
  --f-we-5: 200;
  --f-we-6: 200;
  --f-we-7: 200;
  --f-we-8: 200;
  --f-we-9: 200;
  --f-we-10: 200;
  --f-we-11: 200;
  --f-we-12: 200;
  --f-we-13: 200;
  --f-we-14: 200;
  --f-we-15: 200;
  --f-we-16: 200;
  --f-we-17: 200;
  --f-21-1: 0px;
  --f-21-2: 0px;
  --f-21-3: 0px;
  --f-21-4: 0px;
  --f-21-5: 0px;
  --f-21-6: 0px;
  --f-21-7: 0px;
  --f-21-8: 0px;
  --f-21-9: 0px;
  --f-21-10: 0px;
  --f-21-11: 0px;
  --f-21-12: 0px;
  --f-21-13: 0px;
  --f-21-14: 0px;
  --f-21-15: 0px;
  --f-21-16: 0px;
  --f-21-17: 0px;
  --f-si-1: 36px;
  --f-si-2: 30px;
  --f-si-3: 24px;
  --f-si-4: 22px;
  --f-si-5: 20px;
  --f-si-6: 18px;
  --f-si-7: 20px;
  --f-si-8: 23px;
  --f-si-9: 30px;
  --f-si-10: 46px;
  --f-si-11: 55px;
  --f-si-12: 62px;
  --f-si-13: 72px;
  --f-si-14: 92px;
  --f-si-15: 114px;
  --f-si-16: 134px;
  --f-si-17: 30px;
}
:root .font_body,
:root .t_lang-body-default .font_body {
  --f-fa: Inter, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif;
  --f-li-1: 17px;
  --f-li-2: 18px;
  --f-li-3: 19px;
  --f-li-4: 20px;
  --f-li-5: 23px;
  --f-li-6: 25px;
  --f-li-7: 27px;
  --f-li-8: 30px;
  --f-li-9: 38px;
  --f-li-10: 56px;
  --f-li-11: 66px;
  --f-li-12: 73px;
  --f-li-13: 84px;
  --f-li-14: 106px;
  --f-li-15: 130px;
  --f-li-16: 152px;
  --f-li-17: 20px;
  --f-we-1: 300;
  --f-we-2: 300;
  --f-we-3: 300;
  --f-we-4: 300;
  --f-we-5: 300;
  --f-we-6: 300;
  --f-we-7: 300;
  --f-we-8: 300;
  --f-we-9: 300;
  --f-we-10: 300;
  --f-we-11: 300;
  --f-we-12: 300;
  --f-we-13: 300;
  --f-we-14: 300;
  --f-we-15: 300;
  --f-we-16: 300;
  --f-we-17: 300;
  --f-21-1: 0px;
  --f-21-2: 0px;
  --f-21-3: 0px;
  --f-21-4: 0px;
  --f-21-5: 0px;
  --f-21-6: 0px;
  --f-21-7: 0px;
  --f-21-8: 0px;
  --f-21-9: 0px;
  --f-21-10: 0px;
  --f-21-11: 0px;
  --f-21-12: 0px;
  --f-21-13: 0px;
  --f-21-14: 0px;
  --f-21-15: 0px;
  --f-21-16: 0px;
  --f-21-17: 0px;
  --f-si-1: 12px;
  --f-si-2: 13px;
  --f-si-3: 14px;
  --f-si-4: 15px;
  --f-si-5: 18px;
  --f-si-6: 20px;
  --f-si-7: 22px;
  --f-si-8: 25px;
  --f-si-9: 33px;
  --f-si-10: 51px;
  --f-si-11: 61px;
  --f-si-12: 68px;
  --f-si-13: 79px;
  --f-si-14: 101px;
  --f-si-15: 125px;
  --f-si-16: 147px;
  --f-si-17: 15px;
}
:root .font_mono,
:root .t_lang-mono-default .font_mono {
  --f-fa: 'ui-monospace', 'SFMono-Regular', 'SF Mono', Menlo, Consolas,
    'Liberation Mono', monospace;
  --f-si-1: 11px;
  --f-si-2: 12px;
  --f-si-3: 13px;
  --f-si-4: 14px;
  --f-si-5: 16px;
  --f-si-6: 18px;
  --f-si-7: 20px;
  --f-si-8: 22px;
  --f-si-9: 30px;
  --f-si-10: 42px;
  --f-si-11: 52px;
  --f-si-12: 62px;
  --f-si-13: 72px;
  --f-si-14: 92px;
  --f-si-15: 114px;
  --f-si-16: 124px;
  --f-li-1: 16.5px;
  --f-li-2: 18px;
  --f-li-3: 19.5px;
  --f-li-4: 21px;
  --f-li-5: 24px;
  --f-li-6: 27px;
  --f-li-7: 30px;
  --f-li-8: 33px;
  --f-li-9: 45px;
  --f-li-10: 63px;
  --f-li-11: 78px;
  --f-li-12: 93px;
  --f-li-13: 108px;
  --f-li-14: 138px;
  --f-li-15: 171px;
  --f-li-16: 186px;
  --f-we-1: 500;
  --f-we-2: 500;
  --f-we-3: 500;
  --f-we-4: 500;
  --f-we-5: 500;
  --f-we-6: 500;
  --f-we-7: 500;
  --f-we-8: 500;
  --f-we-9: 500;
  --f-we-10: 500;
  --f-we-11: 500;
  --f-we-12: 500;
  --f-we-13: 500;
  --f-we-14: 500;
  --f-we-15: 500;
  --f-we-16: 500;
  --f-21-1: 0px;
  --f-21-2: 0px;
  --f-21-3: 0px;
  --f-21-4: 0px;
  --f-21-5: 0px;
  --f-21-6: 0px;
  --f-21-7: 0px;
  --f-21-8: 0px;
  --f-21-9: 0px;
  --f-21-10: 0px;
  --f-21-11: 0px;
  --f-21-12: 0px;
  --f-21-13: 0px;
  --f-21-14: 0px;
  --f-21-15: 0px;
  --f-21-16: 0px;
}
:root .font_editorBody,
:root .t_lang-editorBody-default .font_editorBody {
  --f-fa: Georgia, Times, 'Times New Roman', serif;
  --f-si-1: 12px;
  --f-si-2: 14px;
  --f-si-3: 16px;
  --f-si-4: 18px;
  --f-si-5: 20px;
  --f-si-6: 22px;
  --f-si-7: 28px;
  --f-si-8: 32px;
  --f-si-9: 40px;
  --f-si-10: 42px;
  --f-si-11: 52px;
  --f-si-12: 62px;
  --f-si-13: 72px;
  --f-si-14: 92px;
  --f-si-15: 114px;
  --f-si-16: 124px;
  --f-li-1: 18px;
  --f-li-2: 21px;
  --f-li-3: 24px;
  --f-li-4: 27px;
  --f-li-5: 30px;
  --f-li-6: 33px;
  --f-li-7: 42px;
  --f-li-8: 48px;
  --f-li-9: 60px;
  --f-li-10: 63px;
  --f-li-11: 78px;
  --f-li-12: 93px;
  --f-li-13: 108px;
  --f-li-14: 138px;
  --f-li-15: 171px;
  --f-li-16: 186px;
  --f-we-1: 500;
  --f-we-2: 500;
  --f-we-3: 500;
  --f-we-4: 500;
  --f-we-5: 500;
  --f-we-6: 500;
  --f-we-7: 500;
  --f-we-8: 500;
  --f-we-9: 500;
  --f-we-10: 500;
  --f-we-11: 500;
  --f-we-12: 500;
  --f-we-13: 500;
  --f-we-14: 500;
  --f-we-15: 500;
  --f-we-16: 500;
  --f-21-1: 0px;
  --f-21-2: 0px;
  --f-21-3: 0px;
  --f-21-4: 0px;
  --f-21-5: 0px;
  --f-21-6: 0px;
  --f-21-7: 0px;
  --f-21-8: 0px;
  --f-21-9: 0px;
  --f-21-10: 0px;
  --f-21-11: 0px;
  --f-21-12: 0px;
  --f-21-13: 0px;
  --f-21-14: 0px;
  --f-21-15: 0px;
  --f-21-16: 0px;
}
:root.t_dark,
:root.t_dark .t_light .t_dark,
:root.t_light .t_dark,
:root.t_light .t_dark .t_light .t_dark {
  --color1: #050505;
  --color2: #151515;
  --color3: #191919;
  --color4: #232323;
  --color5: #282828;
  --color6: #323232;
  --color7: #424242;
  --color8: #494949;
  --color9: #545454;
  --color10: #626262;
  --color11: #a5a5a5;
  --color12: #fff;
  --background: #151515;
  --backgroundHover: #191919;
  --backgroundPress: #232323;
  --backgroundFocus: #282828;
  --backgroundStrong: #050505;
  --backgroundTransparent: rgba(10, 10, 10, 0);
  --color: #fff;
  --colorHover: #a5a5a5;
  --colorPress: #fff;
  --colorFocus: #a5a5a5;
  --colorTransparent: rgba(255, 255, 255, 0);
  --borderColor: #282828;
  --borderColorHover: #323232;
  --borderColorFocus: #232323;
  --borderColorPress: #282828;
  --placeholderColor: #545454;
  --outlineColor: #282828;
  --blue1: var(--color-86);
  --blue2: var(--color-87);
  --blue3: var(--color-88);
  --blue4: var(--color-89);
  --blue5: var(--color-90);
  --blue6: var(--color-91);
  --blue7: var(--color-92);
  --blue8: var(--color-93);
  --blue9: var(--color-94);
  --blue10: var(--color-95);
  --blue11: var(--color-96);
  --blue12: var(--color-97);
  --gray1: var(--color-98);
  --gray2: var(--color-99);
  --gray3: var(--color-100);
  --gray4: var(--color-101);
  --gray5: var(--color-102);
  --gray6: var(--color-103);
  --gray7: var(--color-104);
  --gray8: var(--color-105);
  --gray9: var(--color-106);
  --gray10: var(--color-107);
  --gray11: var(--color-108);
  --gray12: var(--color-109);
  --green1: var(--color-110);
  --green2: var(--color-111);
  --green3: var(--color-112);
  --green4: var(--color-113);
  --green5: var(--color-114);
  --green6: var(--color-115);
  --green7: var(--color-116);
  --green8: var(--color-117);
  --green9: var(--color-118);
  --green10: var(--color-119);
  --green11: var(--color-120);
  --green12: var(--color-121);
  --purple1: var(--color-122);
  --purple2: var(--color-123);
  --purple3: var(--color-124);
  --purple4: var(--color-125);
  --purple5: var(--color-126);
  --purple6: var(--color-127);
  --purple7: var(--color-128);
  --purple8: var(--color-129);
  --purple9: var(--color-130);
  --purple10: var(--color-131);
  --purple11: var(--color-132);
  --purple12: var(--color-133);
  --red1: var(--color-134);
  --red2: var(--color-135);
  --red3: var(--color-136);
  --red4: var(--color-137);
  --red5: var(--color-138);
  --red6: var(--color-139);
  --red7: var(--color-140);
  --red8: var(--color-141);
  --red9: var(--color-142);
  --red10: var(--color-143);
  --red11: var(--color-144);
  --red12: var(--color-145);
  --yellow1: var(--color-146);
  --yellow2: var(--color-147);
  --yellow3: var(--color-148);
  --yellow4: var(--color-149);
  --yellow5: var(--color-150);
  --yellow6: var(--color-151);
  --yellow7: var(--color-152);
  --yellow8: var(--color-153);
  --yellow9: var(--color-154);
  --yellow10: var(--color-155);
  --yellow11: var(--color-156);
  --yellow12: var(--color-157);
  --brand1: var(--color-158);
  --brand2: var(--color-159);
  --brand3: var(--color-160);
  --brand4: var(--color-161);
  --brand5: var(--color-162);
  --brand6: var(--color-163);
  --brand7: var(--color-164);
  --brand8: var(--color-165);
  --brand9: var(--color-166);
  --brand10: var(--color-167);
  --brand11: var(--color-168);
  --brand12: var(--color-169);
  --brandHighlight: var(--color-170);
  --shadowColor: rgba(0, 0, 0, 0.3);
  --shadowColorHover: rgba(0, 0, 0, 0.3);
  --shadowColorPress: rgba(0, 0, 0, 0.2);
  --shadowColorFocus: rgba(0, 0, 0, 0.2);
}
@media (prefers-color-scheme: dark) {
  body {
    background: var(--background);
    color: var(--color);
  }
  :root,
  .t_light .t_dark {
    --color1: #050505;
    --color2: #151515;
    --color3: #191919;
    --color4: #232323;
    --color5: #282828;
    --color6: #323232;
    --color7: #424242;
    --color8: #494949;
    --color9: #545454;
    --color10: #626262;
    --color11: #a5a5a5;
    --color12: #fff;
    --background: #151515;
    --backgroundHover: #191919;
    --backgroundPress: #232323;
    --backgroundFocus: #282828;
    --backgroundStrong: #050505;
    --backgroundTransparent: rgba(10, 10, 10, 0);
    --color: #fff;
    --colorHover: #a5a5a5;
    --colorPress: #fff;
    --colorFocus: #a5a5a5;
    --colorTransparent: rgba(255, 255, 255, 0);
    --borderColor: #282828;
    --borderColorHover: #323232;
    --borderColorFocus: #232323;
    --borderColorPress: #282828;
    --placeholderColor: #545454;
    --outlineColor: #282828;
    --blue1: var(--color-86);
    --blue2: var(--color-87);
    --blue3: var(--color-88);
    --blue4: var(--color-89);
    --blue5: var(--color-90);
    --blue6: var(--color-91);
    --blue7: var(--color-92);
    --blue8: var(--color-93);
    --blue9: var(--color-94);
    --blue10: var(--color-95);
    --blue11: var(--color-96);
    --blue12: var(--color-97);
    --gray1: var(--color-98);
    --gray2: var(--color-99);
    --gray3: var(--color-100);
    --gray4: var(--color-101);
    --gray5: var(--color-102);
    --gray6: var(--color-103);
    --gray7: var(--color-104);
    --gray8: var(--color-105);
    --gray9: var(--color-106);
    --gray10: var(--color-107);
    --gray11: var(--color-108);
    --gray12: var(--color-109);
    --green1: var(--color-110);
    --green2: var(--color-111);
    --green3: var(--color-112);
    --green4: var(--color-113);
    --green5: var(--color-114);
    --green6: var(--color-115);
    --green7: var(--color-116);
    --green8: var(--color-117);
    --green9: var(--color-118);
    --green10: var(--color-119);
    --green11: var(--color-120);
    --green12: var(--color-121);
    --purple1: var(--color-122);
    --purple2: var(--color-123);
    --purple3: var(--color-124);
    --purple4: var(--color-125);
    --purple5: var(--color-126);
    --purple6: var(--color-127);
    --purple7: var(--color-128);
    --purple8: var(--color-129);
    --purple9: var(--color-130);
    --purple10: var(--color-131);
    --purple11: var(--color-132);
    --purple12: var(--color-133);
    --red1: var(--color-134);
    --red2: var(--color-135);
    --red3: var(--color-136);
    --red4: var(--color-137);
    --red5: var(--color-138);
    --red6: var(--color-139);
    --red7: var(--color-140);
    --red8: var(--color-141);
    --red9: var(--color-142);
    --red10: var(--color-143);
    --red11: var(--color-144);
    --red12: var(--color-145);
    --yellow1: var(--color-146);
    --yellow2: var(--color-147);
    --yellow3: var(--color-148);
    --yellow4: var(--color-149);
    --yellow5: var(--color-150);
    --yellow6: var(--color-151);
    --yellow7: var(--color-152);
    --yellow8: var(--color-153);
    --yellow9: var(--color-154);
    --yellow10: var(--color-155);
    --yellow11: var(--color-156);
    --yellow12: var(--color-157);
    --brand1: var(--color-158);
    --brand2: var(--color-159);
    --brand3: var(--color-160);
    --brand4: var(--color-161);
    --brand5: var(--color-162);
    --brand6: var(--color-163);
    --brand7: var(--color-164);
    --brand8: var(--color-165);
    --brand9: var(--color-166);
    --brand10: var(--color-167);
    --brand11: var(--color-168);
    --brand12: var(--color-169);
    --brandHighlight: var(--color-170);
    --shadowColor: rgba(0, 0, 0, 0.3);
    --shadowColorHover: rgba(0, 0, 0, 0.3);
    --shadowColorPress: rgba(0, 0, 0, 0.2);
    --shadowColorFocus: rgba(0, 0, 0, 0.2);
  }
}
:root.t_dark .t_blue,
:root.t_dark .t_light .t_dark .t_blue,
:root.t_light .t_dark .t_blue,
:root.t_light .t_dark .t_light .t_dark .t_blue {
  --color1: var(--color-86);
  --color2: var(--color-87);
  --color3: var(--color-88);
  --color4: var(--color-89);
  --color5: var(--color-90);
  --color6: var(--color-91);
  --color7: var(--color-93);
  --color8: var(--color-94);
  --color9: var(--color-95);
  --color10: var(--color-96);
  --color11: var(--color-97);
  --color12: #fff;
  --background: var(--color-87);
  --backgroundHover: var(--color-88);
  --backgroundPress: var(--color-89);
  --backgroundFocus: var(--color-90);
  --backgroundStrong: var(--color-86);
  --backgroundTransparent: hsla(212, 35%, 9.2%, 0);
  --color: #fff;
  --colorHover: var(--color-97);
  --colorPress: #fff;
  --colorFocus: var(--color-97);
  --colorTransparent: hsla(206, 98%, 95.8%, 0);
  --borderColor: var(--color-90);
  --borderColorHover: var(--color-91);
  --borderColorFocus: var(--color-89);
  --borderColorPress: var(--color-90);
  --placeholderColor: var(--color-95);
  --outlineColor: var(--color-90);
}
@media (prefers-color-scheme: dark) {
  body {
    background: var(--background);
    color: var(--color);
  }
  .t_blue,
  .t_light .t_dark .t_blue {
    --color1: var(--color-86);
    --color2: var(--color-87);
    --color3: var(--color-88);
    --color4: var(--color-89);
    --color5: var(--color-90);
    --color6: var(--color-91);
    --color7: var(--color-93);
    --color8: var(--color-94);
    --color9: var(--color-95);
    --color10: var(--color-96);
    --color11: var(--color-97);
    --color12: #fff;
    --background: var(--color-87);
    --backgroundHover: var(--color-88);
    --backgroundPress: var(--color-89);
    --backgroundFocus: var(--color-90);
    --backgroundStrong: var(--color-86);
    --backgroundTransparent: hsla(212, 35%, 9.2%, 0);
    --color: #fff;
    --colorHover: var(--color-97);
    --colorPress: #fff;
    --colorFocus: var(--color-97);
    --colorTransparent: hsla(206, 98%, 95.8%, 0);
    --borderColor: var(--color-90);
    --borderColorHover: var(--color-91);
    --borderColorFocus: var(--color-89);
    --borderColorPress: var(--color-90);
    --placeholderColor: var(--color-95);
    --outlineColor: var(--color-90);
  }
}
:root.t_dark .t_brand,
:root.t_dark .t_light .t_dark .t_brand,
:root.t_light .t_dark .t_brand,
:root.t_light .t_dark .t_light .t_dark .t_brand {
  --color1: var(--color-158);
  --color2: var(--color-159);
  --color3: var(--color-160);
  --color4: var(--color-161);
  --color5: var(--color-162);
  --color6: var(--color-163);
  --color7: var(--color-166);
  --color8: var(--color-167);
  --color9: var(--color-168);
  --color10: var(--color-169);
  --color11: var(--color-170);
  --color12: #fff;
  --background: var(--color-159);
  --backgroundHover: var(--color-160);
  --backgroundPress: var(--color-161);
  --backgroundFocus: var(--color-162);
  --backgroundStrong: var(--color-158);
  --backgroundTransparent: hsla(123, 50%, 93%, 0);
  --color: #fff;
  --colorHover: var(--color-170);
  --colorPress: #fff;
  --colorFocus: var(--color-170);
  --colorTransparent: hsla(180, 41%, 8%, 0);
  --borderColor: var(--color-162);
  --borderColorHover: var(--color-163);
  --borderColorFocus: var(--color-161);
  --borderColorPress: var(--color-162);
  --placeholderColor: var(--color-168);
  --outlineColor: var(--color-162);
}
@media (prefers-color-scheme: dark) {
  body {
    background: var(--background);
    color: var(--color);
  }
  .t_brand,
  .t_light .t_dark .t_brand {
    --color1: var(--color-158);
    --color2: var(--color-159);
    --color3: var(--color-160);
    --color4: var(--color-161);
    --color5: var(--color-162);
    --color6: var(--color-163);
    --color7: var(--color-166);
    --color8: var(--color-167);
    --color9: var(--color-168);
    --color10: var(--color-169);
    --color11: var(--color-170);
    --color12: #fff;
    --background: var(--color-159);
    --backgroundHover: var(--color-160);
    --backgroundPress: var(--color-161);
    --backgroundFocus: var(--color-162);
    --backgroundStrong: var(--color-158);
    --backgroundTransparent: hsla(123, 50%, 93%, 0);
    --color: #fff;
    --colorHover: var(--color-170);
    --colorPress: #fff;
    --colorFocus: var(--color-170);
    --colorTransparent: hsla(180, 41%, 8%, 0);
    --borderColor: var(--color-162);
    --borderColorHover: var(--color-163);
    --borderColorFocus: var(--color-161);
    --borderColorPress: var(--color-162);
    --placeholderColor: var(--color-168);
    --outlineColor: var(--color-162);
  }
}
:root.t_dark .t_green,
:root.t_dark .t_light .t_dark .t_green,
:root.t_light .t_dark .t_green,
:root.t_light .t_dark .t_light .t_dark .t_green {
  --color1: var(--color-110);
  --color2: var(--color-111);
  --color3: var(--color-112);
  --color4: var(--color-113);
  --color5: var(--color-114);
  --color6: var(--color-115);
  --color7: var(--color-117);
  --color8: var(--color-118);
  --color9: var(--color-119);
  --color10: var(--color-120);
  --color11: var(--color-121);
  --color12: #fff;
  --background: var(--color-111);
  --backgroundHover: var(--color-112);
  --backgroundPress: var(--color-113);
  --backgroundFocus: var(--color-114);
  --backgroundStrong: var(--color-110);
  --backgroundTransparent: hsla(146, 30%, 7.4%, 0);
  --color: #fff;
  --colorHover: var(--color-121);
  --colorPress: #fff;
  --colorFocus: var(--color-121);
  --colorTransparent: hsla(137, 72%, 94%, 0);
  --borderColor: var(--color-114);
  --borderColorHover: var(--color-115);
  --borderColorFocus: var(--color-113);
  --borderColorPress: var(--color-114);
  --placeholderColor: var(--color-119);
  --outlineColor: var(--color-114);
}
@media (prefers-color-scheme: dark) {
  body {
    background: var(--background);
    color: var(--color);
  }
  .t_green,
  .t_light .t_dark .t_green {
    --color1: var(--color-110);
    --color2: var(--color-111);
    --color3: var(--color-112);
    --color4: var(--color-113);
    --color5: var(--color-114);
    --color6: var(--color-115);
    --color7: var(--color-117);
    --color8: var(--color-118);
    --color9: var(--color-119);
    --color10: var(--color-120);
    --color11: var(--color-121);
    --color12: #fff;
    --background: var(--color-111);
    --backgroundHover: var(--color-112);
    --backgroundPress: var(--color-113);
    --backgroundFocus: var(--color-114);
    --backgroundStrong: var(--color-110);
    --backgroundTransparent: hsla(146, 30%, 7.4%, 0);
    --color: #fff;
    --colorHover: var(--color-121);
    --colorPress: #fff;
    --colorFocus: var(--color-121);
    --colorTransparent: hsla(137, 72%, 94%, 0);
    --borderColor: var(--color-114);
    --borderColorHover: var(--color-115);
    --borderColorFocus: var(--color-113);
    --borderColorPress: var(--color-114);
    --placeholderColor: var(--color-119);
    --outlineColor: var(--color-114);
  }
}
:root.t_dark .t_light .t_dark .t_purple,
:root.t_dark .t_purple,
:root.t_light .t_dark .t_light .t_dark .t_purple,
:root.t_light .t_dark .t_purple {
  --color1: var(--color-122);
  --color2: var(--color-123);
  --color3: var(--color-124);
  --color4: var(--color-125);
  --color5: var(--color-126);
  --color6: var(--color-127);
  --color7: var(--color-129);
  --color8: var(--color-130);
  --color9: var(--color-131);
  --color10: var(--color-132);
  --color11: var(--color-133);
  --color12: #fff;
  --background: var(--color-123);
  --backgroundHover: var(--color-124);
  --backgroundPress: var(--color-125);
  --backgroundFocus: var(--color-126);
  --backgroundStrong: var(--color-122);
  --backgroundTransparent: hsla(284, 20%, 9.6%, 0);
  --color: #fff;
  --colorHover: var(--color-133);
  --colorPress: #fff;
  --colorFocus: var(--color-133);
  --colorTransparent: hsla(279, 75%, 95.7%, 0);
  --borderColor: var(--color-126);
  --borderColorHover: var(--color-127);
  --borderColorFocus: var(--color-125);
  --borderColorPress: var(--color-126);
  --placeholderColor: var(--color-131);
  --outlineColor: var(--color-126);
}
@media (prefers-color-scheme: dark) {
  body {
    background: var(--background);
    color: var(--color);
  }
  .t_light .t_dark .t_purple,
  .t_purple {
    --color1: var(--color-122);
    --color2: var(--color-123);
    --color3: var(--color-124);
    --color4: var(--color-125);
    --color5: var(--color-126);
    --color6: var(--color-127);
    --color7: var(--color-129);
    --color8: var(--color-130);
    --color9: var(--color-131);
    --color10: var(--color-132);
    --color11: var(--color-133);
    --color12: #fff;
    --background: var(--color-123);
    --backgroundHover: var(--color-124);
    --backgroundPress: var(--color-125);
    --backgroundFocus: var(--color-126);
    --backgroundStrong: var(--color-122);
    --backgroundTransparent: hsla(284, 20%, 9.6%, 0);
    --color: #fff;
    --colorHover: var(--color-133);
    --colorPress: #fff;
    --colorFocus: var(--color-133);
    --colorTransparent: hsla(279, 75%, 95.7%, 0);
    --borderColor: var(--color-126);
    --borderColorHover: var(--color-127);
    --borderColorFocus: var(--color-125);
    --borderColorPress: var(--color-126);
    --placeholderColor: var(--color-131);
    --outlineColor: var(--color-126);
  }
}
:root.t_dark .t_light .t_dark .t_red,
:root.t_dark .t_red,
:root.t_light .t_dark .t_light .t_dark .t_red,
:root.t_light .t_dark .t_red {
  --color1: var(--color-134);
  --color2: var(--color-135);
  --color3: var(--color-136);
  --color4: var(--color-137);
  --color5: var(--color-138);
  --color6: var(--color-139);
  --color7: var(--color-141);
  --color8: var(--color-142);
  --color9: var(--color-143);
  --color10: var(--color-144);
  --color11: var(--color-145);
  --color12: #fff;
  --background: var(--color-135);
  --backgroundHover: var(--color-136);
  --backgroundPress: var(--color-137);
  --backgroundFocus: var(--color-138);
  --backgroundStrong: var(--color-134);
  --backgroundTransparent: hsla(353, 23%, 9.8%, 0);
  --color: #fff;
  --colorHover: var(--color-145);
  --colorPress: #fff;
  --colorFocus: var(--color-145);
  --colorTransparent: hsla(351, 89%, 96%, 0);
  --borderColor: var(--color-138);
  --borderColorHover: var(--color-139);
  --borderColorFocus: var(--color-137);
  --borderColorPress: var(--color-138);
  --placeholderColor: var(--color-143);
  --outlineColor: var(--color-138);
}
@media (prefers-color-scheme: dark) {
  body {
    background: var(--background);
    color: var(--color);
  }
  .t_light .t_dark .t_red,
  .t_red {
    --color1: var(--color-134);
    --color2: var(--color-135);
    --color3: var(--color-136);
    --color4: var(--color-137);
    --color5: var(--color-138);
    --color6: var(--color-139);
    --color7: var(--color-141);
    --color8: var(--color-142);
    --color9: var(--color-143);
    --color10: var(--color-144);
    --color11: var(--color-145);
    --color12: #fff;
    --background: var(--color-135);
    --backgroundHover: var(--color-136);
    --backgroundPress: var(--color-137);
    --backgroundFocus: var(--color-138);
    --backgroundStrong: var(--color-134);
    --backgroundTransparent: hsla(353, 23%, 9.8%, 0);
    --color: #fff;
    --colorHover: var(--color-145);
    --colorPress: #fff;
    --colorFocus: var(--color-145);
    --colorTransparent: hsla(351, 89%, 96%, 0);
    --borderColor: var(--color-138);
    --borderColorHover: var(--color-139);
    --borderColorFocus: var(--color-137);
    --borderColorPress: var(--color-138);
    --placeholderColor: var(--color-143);
    --outlineColor: var(--color-138);
  }
}
:root.t_dark .t_light .t_dark .t_yellow,
:root.t_dark .t_yellow,
:root.t_light .t_dark .t_light .t_dark .t_yellow,
:root.t_light .t_dark .t_yellow {
  --color1: var(--color-146);
  --color2: var(--color-147);
  --color3: var(--color-148);
  --color4: var(--color-149);
  --color5: var(--color-150);
  --color6: var(--color-151);
  --color7: var(--color-153);
  --color8: var(--color-154);
  --color9: var(--color-155);
  --color10: var(--color-156);
  --color11: var(--color-157);
  --color12: #fff;
  --background: var(--color-147);
  --backgroundHover: var(--color-148);
  --backgroundPress: var(--color-149);
  --backgroundFocus: var(--color-150);
  --backgroundStrong: var(--color-146);
  --backgroundTransparent: hsla(45, 100%, 5.5%, 0);
  --color: #fff;
  --colorHover: var(--color-157);
  --colorPress: #fff;
  --colorFocus: var(--color-157);
  --colorTransparent: hsla(53, 100%, 91%, 0);
  --borderColor: var(--color-150);
  --borderColorHover: var(--color-151);
  --borderColorFocus: var(--color-149);
  --borderColorPress: var(--color-150);
  --placeholderColor: var(--color-155);
  --outlineColor: var(--color-150);
}
@media (prefers-color-scheme: dark) {
  body {
    background: var(--background);
    color: var(--color);
  }
  .t_light .t_dark .t_yellow,
  .t_yellow {
    --color1: var(--color-146);
    --color2: var(--color-147);
    --color3: var(--color-148);
    --color4: var(--color-149);
    --color5: var(--color-150);
    --color6: var(--color-151);
    --color7: var(--color-153);
    --color8: var(--color-154);
    --color9: var(--color-155);
    --color10: var(--color-156);
    --color11: var(--color-157);
    --color12: #fff;
    --background: var(--color-147);
    --backgroundHover: var(--color-148);
    --backgroundPress: var(--color-149);
    --backgroundFocus: var(--color-150);
    --backgroundStrong: var(--color-146);
    --backgroundTransparent: hsla(45, 100%, 5.5%, 0);
    --color: #fff;
    --colorHover: var(--color-157);
    --colorPress: #fff;
    --colorFocus: var(--color-157);
    --colorTransparent: hsla(53, 100%, 91%, 0);
    --borderColor: var(--color-150);
    --borderColorHover: var(--color-151);
    --borderColorFocus: var(--color-149);
    --borderColorPress: var(--color-150);
    --placeholderColor: var(--color-155);
    --outlineColor: var(--color-150);
  }
}
:root.t_dark .t_light,
:root.t_dark .t_light .t_dark .t_light,
:root.t_light,
:root.t_light .t_dark .t_light {
  --color1: #fff;
  --color2: #f9f9f9;
  --color3: var(--color-14);
  --color4: var(--color-15);
  --color5: hsl(0, 0%, 94%);
  --color6: hsl(0, 0%, 92%);
  --color7: hsl(0, 0%, 89.5%);
  --color8: hsl(0, 0%, 81%);
  --color9: var(--color-21);
  --color10: hsl(0, 0%, 50.3%);
  --color11: hsl(0, 0%, 42.5%);
  --color12: var(--color-24);
  --background: #f9f9f9;
  --backgroundHover: var(--color-14);
  --backgroundPress: var(--color-15);
  --backgroundFocus: hsl(0, 0%, 94%);
  --backgroundStrong: #fff;
  --backgroundTransparent: rgba(255, 255, 255, 0);
  --color: var(--color-24);
  --colorHover: hsl(0, 0%, 42.5%);
  --colorPress: var(--color-24);
  --colorFocus: hsl(0, 0%, 42.5%);
  --colorTransparent: rgba(10, 10, 10, 0);
  --borderColor: hsl(0, 0%, 94%);
  --borderColorHover: hsl(0, 0%, 92%);
  --borderColorFocus: var(--color-15);
  --borderColorPress: hsl(0, 0%, 94%);
  --placeholderColor: var(--color-21);
  --outlineColor: hsl(0, 0%, 94%);
  --blue1: var(--color-1);
  --blue2: var(--color-2);
  --blue3: var(--color-3);
  --blue4: var(--color-4);
  --blue5: var(--color-5);
  --blue6: var(--color-6);
  --blue7: var(--color-7);
  --blue8: var(--color-8);
  --blue9: var(--color-94);
  --blue10: var(--color-10);
  --blue11: var(--color-11);
  --blue12: var(--color-12);
  --gray1: var(--color-13);
  --gray2: var(--color-14);
  --gray3: var(--color-15);
  --gray4: var(--color-109);
  --gray5: var(--color-17);
  --gray6: var(--color-18);
  --gray7: var(--color-19);
  --gray8: var(--color-20);
  --gray9: var(--color-21);
  --gray10: var(--color-22);
  --gray11: var(--color-23);
  --gray12: var(--color-24);
  --green1: var(--color-25);
  --green2: var(--color-26);
  --green3: var(--color-27);
  --green4: var(--color-28);
  --green5: var(--color-29);
  --green6: var(--color-30);
  --green7: var(--color-31);
  --green8: var(--color-32);
  --green9: var(--color-118);
  --green10: var(--color-34);
  --green11: var(--color-35);
  --green12: var(--color-36);
  --purple1: var(--color-37);
  --purple2: var(--color-38);
  --purple3: var(--color-39);
  --purple4: var(--color-40);
  --purple5: var(--color-41);
  --purple6: var(--color-42);
  --purple7: var(--color-43);
  --purple8: var(--color-44);
  --purple9: var(--color-130);
  --purple10: var(--color-46);
  --purple11: var(--color-47);
  --purple12: var(--color-48);
  --red1: var(--color-49);
  --red2: var(--color-50);
  --red3: var(--color-51);
  --red4: var(--color-52);
  --red5: var(--color-53);
  --red6: var(--color-54);
  --red7: var(--color-55);
  --red8: var(--color-56);
  --red9: var(--color-142);
  --red10: var(--color-58);
  --red11: var(--color-59);
  --red12: var(--color-60);
  --yellow1: var(--color-61);
  --yellow2: var(--color-62);
  --yellow3: var(--color-63);
  --yellow4: var(--color-64);
  --yellow5: var(--color-65);
  --yellow6: var(--color-66);
  --yellow7: var(--color-67);
  --yellow8: var(--color-68);
  --yellow9: var(--color-154);
  --yellow10: var(--color-70);
  --yellow11: var(--color-71);
  --yellow12: var(--color-72);
  --brand1: var(--color-169);
  --brand2: var(--color-168);
  --brand3: var(--color-167);
  --brand4: var(--color-161);
  --brand5: var(--color-162);
  --brand6: var(--color-163);
  --brand7: var(--color-164);
  --brand8: var(--color-165);
  --brand9: var(--color-166);
  --brand10: var(--color-82);
  --brand11: var(--color-159);
  --brand12: var(--color-158);
  --brandHighlight: var(--color-85);
  --shadowColor: rgba(0, 0, 0, 0.066);
  --shadowColorHover: rgba(0, 0, 0, 0.066);
  --shadowColorPress: rgba(0, 0, 0, 0.02);
  --shadowColorFocus: rgba(0, 0, 0, 0.02);
}
@media (prefers-color-scheme: light) {
  body {
    background: var(--background);
    color: var(--color);
  }
  :root,
  .t_dark .t_light {
    --color1: #fff;
    --color2: #f9f9f9;
    --color3: var(--color-14);
    --color4: var(--color-15);
    --color5: hsl(0, 0%, 94%);
    --color6: hsl(0, 0%, 92%);
    --color7: hsl(0, 0%, 89.5%);
    --color8: hsl(0, 0%, 81%);
    --color9: var(--color-21);
    --color10: hsl(0, 0%, 50.3%);
    --color11: hsl(0, 0%, 42.5%);
    --color12: var(--color-24);
    --background: #f9f9f9;
    --backgroundHover: var(--color-14);
    --backgroundPress: var(--color-15);
    --backgroundFocus: hsl(0, 0%, 94%);
    --backgroundStrong: #fff;
    --backgroundTransparent: rgba(255, 255, 255, 0);
    --color: var(--color-24);
    --colorHover: hsl(0, 0%, 42.5%);
    --colorPress: var(--color-24);
    --colorFocus: hsl(0, 0%, 42.5%);
    --colorTransparent: rgba(10, 10, 10, 0);
    --borderColor: hsl(0, 0%, 94%);
    --borderColorHover: hsl(0, 0%, 92%);
    --borderColorFocus: var(--color-15);
    --borderColorPress: hsl(0, 0%, 94%);
    --placeholderColor: var(--color-21);
    --outlineColor: hsl(0, 0%, 94%);
    --blue1: var(--color-1);
    --blue2: var(--color-2);
    --blue3: var(--color-3);
    --blue4: var(--color-4);
    --blue5: var(--color-5);
    --blue6: var(--color-6);
    --blue7: var(--color-7);
    --blue8: var(--color-8);
    --blue9: var(--color-94);
    --blue10: var(--color-10);
    --blue11: var(--color-11);
    --blue12: var(--color-12);
    --gray1: var(--color-13);
    --gray2: var(--color-14);
    --gray3: var(--color-15);
    --gray4: var(--color-109);
    --gray5: var(--color-17);
    --gray6: var(--color-18);
    --gray7: var(--color-19);
    --gray8: var(--color-20);
    --gray9: var(--color-21);
    --gray10: var(--color-22);
    --gray11: var(--color-23);
    --gray12: var(--color-24);
    --green1: var(--color-25);
    --green2: var(--color-26);
    --green3: var(--color-27);
    --green4: var(--color-28);
    --green5: var(--color-29);
    --green6: var(--color-30);
    --green7: var(--color-31);
    --green8: var(--color-32);
    --green9: var(--color-118);
    --green10: var(--color-34);
    --green11: var(--color-35);
    --green12: var(--color-36);
    --purple1: var(--color-37);
    --purple2: var(--color-38);
    --purple3: var(--color-39);
    --purple4: var(--color-40);
    --purple5: var(--color-41);
    --purple6: var(--color-42);
    --purple7: var(--color-43);
    --purple8: var(--color-44);
    --purple9: var(--color-130);
    --purple10: var(--color-46);
    --purple11: var(--color-47);
    --purple12: var(--color-48);
    --red1: var(--color-49);
    --red2: var(--color-50);
    --red3: var(--color-51);
    --red4: var(--color-52);
    --red5: var(--color-53);
    --red6: var(--color-54);
    --red7: var(--color-55);
    --red8: var(--color-56);
    --red9: var(--color-142);
    --red10: var(--color-58);
    --red11: var(--color-59);
    --red12: var(--color-60);
    --yellow1: var(--color-61);
    --yellow2: var(--color-62);
    --yellow3: var(--color-63);
    --yellow4: var(--color-64);
    --yellow5: var(--color-65);
    --yellow6: var(--color-66);
    --yellow7: var(--color-67);
    --yellow8: var(--color-68);
    --yellow9: var(--color-154);
    --yellow10: var(--color-70);
    --yellow11: var(--color-71);
    --yellow12: var(--color-72);
    --brand1: var(--color-169);
    --brand2: var(--color-168);
    --brand3: var(--color-167);
    --brand4: var(--color-161);
    --brand5: var(--color-162);
    --brand6: var(--color-163);
    --brand7: var(--color-164);
    --brand8: var(--color-165);
    --brand9: var(--color-166);
    --brand10: var(--color-82);
    --brand11: var(--color-159);
    --brand12: var(--color-158);
    --brandHighlight: var(--color-85);
    --shadowColor: rgba(0, 0, 0, 0.066);
    --shadowColorHover: rgba(0, 0, 0, 0.066);
    --shadowColorPress: rgba(0, 0, 0, 0.02);
    --shadowColorFocus: rgba(0, 0, 0, 0.02);
  }
}
:root.t_dark .t_light .t_blue,
:root.t_dark .t_light .t_dark .t_light .t_blue,
:root.t_light .t_blue,
:root.t_light .t_dark .t_light .t_blue {
  --color1: var(--color-1);
  --color2: var(--color-2);
  --color3: var(--color-3);
  --color4: var(--color-4);
  --color5: var(--color-5);
  --color6: var(--color-6);
  --color7: var(--color-8);
  --color8: var(--color-94);
  --color9: var(--color-10);
  --color10: var(--color-11);
  --color11: var(--color-12);
  --color12: var(--color-24);
  --background: var(--color-2);
  --backgroundHover: var(--color-3);
  --backgroundPress: var(--color-4);
  --backgroundFocus: var(--color-5);
  --backgroundStrong: var(--color-1);
  --backgroundTransparent: hsla(206, 100%, 99.2%, 0);
  --color: var(--color-24);
  --colorHover: var(--color-12);
  --colorPress: var(--color-24);
  --colorFocus: var(--color-12);
  --colorTransparent: hsla(211, 100%, 15%, 0);
  --borderColor: var(--color-4);
  --borderColorHover: var(--color-5);
  --borderColorFocus: var(--color-4);
  --borderColorPress: var(--color-4);
  --placeholderColor: var(--color-10);
  --outlineColor: var(--color-5);
}
@media (prefers-color-scheme: light) {
  body {
    background: var(--background);
    color: var(--color);
  }
  .t_blue,
  .t_dark .t_light .t_blue {
    --color1: var(--color-1);
    --color2: var(--color-2);
    --color3: var(--color-3);
    --color4: var(--color-4);
    --color5: var(--color-5);
    --color6: var(--color-6);
    --color7: var(--color-8);
    --color8: var(--color-94);
    --color9: var(--color-10);
    --color10: var(--color-11);
    --color11: var(--color-12);
    --color12: var(--color-24);
    --background: var(--color-2);
    --backgroundHover: var(--color-3);
    --backgroundPress: var(--color-4);
    --backgroundFocus: var(--color-5);
    --backgroundStrong: var(--color-1);
    --backgroundTransparent: hsla(206, 100%, 99.2%, 0);
    --color: var(--color-24);
    --colorHover: var(--color-12);
    --colorPress: var(--color-24);
    --colorFocus: var(--color-12);
    --colorTransparent: hsla(211, 100%, 15%, 0);
    --borderColor: var(--color-4);
    --borderColorHover: var(--color-5);
    --borderColorFocus: var(--color-4);
    --borderColorPress: var(--color-4);
    --placeholderColor: var(--color-10);
    --outlineColor: var(--color-5);
  }
}
:root.t_dark .t_light .t_brand,
:root.t_dark .t_light .t_dark .t_light .t_brand,
:root.t_light .t_brand,
:root.t_light .t_dark .t_light .t_brand {
  --color1: var(--color-169);
  --color2: var(--color-168);
  --color3: var(--color-167);
  --color4: var(--color-161);
  --color5: var(--color-162);
  --color6: var(--color-163);
  --color7: var(--color-166);
  --color8: var(--color-82);
  --color9: var(--color-159);
  --color10: var(--color-158);
  --color11: var(--color-85);
  --color12: var(--color-24);
  --background: var(--color-168);
  --backgroundHover: var(--color-167);
  --backgroundPress: var(--color-161);
  --backgroundFocus: var(--color-162);
  --backgroundStrong: var(--color-169);
  --backgroundTransparent: hsla(180, 29%, 17%, 0);
  --color: var(--color-24);
  --colorHover: var(--color-85);
  --colorPress: var(--color-24);
  --colorFocus: var(--color-85);
  --colorTransparent: hsla(125, 50%, 96%, 0);
  --borderColor: var(--color-161);
  --borderColorHover: var(--color-162);
  --borderColorFocus: var(--color-161);
  --borderColorPress: var(--color-161);
  --placeholderColor: var(--color-159);
  --outlineColor: var(--color-162);
}
@media (prefers-color-scheme: light) {
  body {
    background: var(--background);
    color: var(--color);
  }
  .t_brand,
  .t_dark .t_light .t_brand {
    --color1: var(--color-169);
    --color2: var(--color-168);
    --color3: var(--color-167);
    --color4: var(--color-161);
    --color5: var(--color-162);
    --color6: var(--color-163);
    --color7: var(--color-166);
    --color8: var(--color-82);
    --color9: var(--color-159);
    --color10: var(--color-158);
    --color11: var(--color-85);
    --color12: var(--color-24);
    --background: var(--color-168);
    --backgroundHover: var(--color-167);
    --backgroundPress: var(--color-161);
    --backgroundFocus: var(--color-162);
    --backgroundStrong: var(--color-169);
    --backgroundTransparent: hsla(180, 29%, 17%, 0);
    --color: var(--color-24);
    --colorHover: var(--color-85);
    --colorPress: var(--color-24);
    --colorFocus: var(--color-85);
    --colorTransparent: hsla(125, 50%, 96%, 0);
    --borderColor: var(--color-161);
    --borderColorHover: var(--color-162);
    --borderColorFocus: var(--color-161);
    --borderColorPress: var(--color-161);
    --placeholderColor: var(--color-159);
    --outlineColor: var(--color-162);
  }
}
:root.t_dark .t_light .t_dark .t_light .t_green,
:root.t_dark .t_light .t_green,
:root.t_light .t_dark .t_light .t_green,
:root.t_light .t_green {
  --color1: var(--color-25);
  --color2: var(--color-26);
  --color3: var(--color-27);
  --color4: var(--color-28);
  --color5: var(--color-29);
  --color6: var(--color-30);
  --color7: var(--color-32);
  --color8: var(--color-118);
  --color9: var(--color-34);
  --color10: var(--color-35);
  --color11: var(--color-36);
  --color12: var(--color-24);
  --background: var(--color-26);
  --backgroundHover: var(--color-27);
  --backgroundPress: var(--color-28);
  --backgroundFocus: var(--color-29);
  --backgroundStrong: var(--color-25);
  --backgroundTransparent: hsla(136, 50%, 98.9%, 0);
  --color: var(--color-24);
  --colorHover: var(--color-36);
  --colorPress: var(--color-24);
  --colorFocus: var(--color-36);
  --colorTransparent: hsla(155, 40%, 14%, 0);
  --borderColor: var(--color-28);
  --borderColorHover: var(--color-29);
  --borderColorFocus: var(--color-28);
  --borderColorPress: var(--color-28);
  --placeholderColor: var(--color-34);
  --outlineColor: var(--color-29);
}
@media (prefers-color-scheme: light) {
  body {
    background: var(--background);
    color: var(--color);
  }
  .t_dark .t_light .t_green,
  .t_green {
    --color1: var(--color-25);
    --color2: var(--color-26);
    --color3: var(--color-27);
    --color4: var(--color-28);
    --color5: var(--color-29);
    --color6: var(--color-30);
    --color7: var(--color-32);
    --color8: var(--color-118);
    --color9: var(--color-34);
    --color10: var(--color-35);
    --color11: var(--color-36);
    --color12: var(--color-24);
    --background: var(--color-26);
    --backgroundHover: var(--color-27);
    --backgroundPress: var(--color-28);
    --backgroundFocus: var(--color-29);
    --backgroundStrong: var(--color-25);
    --backgroundTransparent: hsla(136, 50%, 98.9%, 0);
    --color: var(--color-24);
    --colorHover: var(--color-36);
    --colorPress: var(--color-24);
    --colorFocus: var(--color-36);
    --colorTransparent: hsla(155, 40%, 14%, 0);
    --borderColor: var(--color-28);
    --borderColorHover: var(--color-29);
    --borderColorFocus: var(--color-28);
    --borderColorPress: var(--color-28);
    --placeholderColor: var(--color-34);
    --outlineColor: var(--color-29);
  }
}
:root.t_dark .t_light .t_dark .t_light .t_purple,
:root.t_dark .t_light .t_purple,
:root.t_light .t_dark .t_light .t_purple,
:root.t_light .t_purple {
  --color1: var(--color-37);
  --color2: var(--color-38);
  --color3: var(--color-39);
  --color4: var(--color-40);
  --color5: var(--color-41);
  --color6: var(--color-42);
  --color7: var(--color-44);
  --color8: var(--color-130);
  --color9: var(--color-46);
  --color10: var(--color-47);
  --color11: var(--color-48);
  --color12: var(--color-24);
  --background: var(--color-38);
  --backgroundHover: var(--color-39);
  --backgroundPress: var(--color-40);
  --backgroundFocus: var(--color-41);
  --backgroundStrong: var(--color-37);
  --backgroundTransparent: hsla(280, 65%, 99.4%, 0);
  --color: var(--color-24);
  --colorHover: var(--color-48);
  --colorPress: var(--color-24);
  --colorFocus: var(--color-48);
  --colorTransparent: hsla(272, 66%, 16%, 0);
  --borderColor: var(--color-40);
  --borderColorHover: var(--color-41);
  --borderColorFocus: var(--color-40);
  --borderColorPress: var(--color-40);
  --placeholderColor: var(--color-46);
  --outlineColor: var(--color-41);
}
@media (prefers-color-scheme: light) {
  body {
    background: var(--background);
    color: var(--color);
  }
  .t_dark .t_light .t_purple,
  .t_purple {
    --color1: var(--color-37);
    --color2: var(--color-38);
    --color3: var(--color-39);
    --color4: var(--color-40);
    --color5: var(--color-41);
    --color6: var(--color-42);
    --color7: var(--color-44);
    --color8: var(--color-130);
    --color9: var(--color-46);
    --color10: var(--color-47);
    --color11: var(--color-48);
    --color12: var(--color-24);
    --background: var(--color-38);
    --backgroundHover: var(--color-39);
    --backgroundPress: var(--color-40);
    --backgroundFocus: var(--color-41);
    --backgroundStrong: var(--color-37);
    --backgroundTransparent: hsla(280, 65%, 99.4%, 0);
    --color: var(--color-24);
    --colorHover: var(--color-48);
    --colorPress: var(--color-24);
    --colorFocus: var(--color-48);
    --colorTransparent: hsla(272, 66%, 16%, 0);
    --borderColor: var(--color-40);
    --borderColorHover: var(--color-41);
    --borderColorFocus: var(--color-40);
    --borderColorPress: var(--color-40);
    --placeholderColor: var(--color-46);
    --outlineColor: var(--color-41);
  }
}
:root.t_dark .t_light .t_dark .t_light .t_red,
:root.t_dark .t_light .t_red,
:root.t_light .t_dark .t_light .t_red,
:root.t_light .t_red {
  --color1: var(--color-49);
  --color2: var(--color-50);
  --color3: var(--color-51);
  --color4: var(--color-52);
  --color5: var(--color-53);
  --color6: var(--color-54);
  --color7: var(--color-56);
  --color8: var(--color-142);
  --color9: var(--color-58);
  --color10: var(--color-59);
  --color11: var(--color-60);
  --color12: var(--color-24);
  --background: var(--color-50);
  --backgroundHover: var(--color-51);
  --backgroundPress: var(--color-52);
  --backgroundFocus: var(--color-53);
  --backgroundStrong: var(--color-49);
  --backgroundTransparent: hsla(359, 100%, 99.4%, 0);
  --color: var(--color-24);
  --colorHover: var(--color-60);
  --colorPress: var(--color-24);
  --colorFocus: var(--color-60);
  --colorTransparent: hsla(354, 50%, 14.6%, 0);
  --borderColor: var(--color-52);
  --borderColorHover: var(--color-53);
  --borderColorFocus: var(--color-52);
  --borderColorPress: var(--color-52);
  --placeholderColor: var(--color-58);
  --outlineColor: var(--color-53);
}
@media (prefers-color-scheme: light) {
  body {
    background: var(--background);
    color: var(--color);
  }
  .t_dark .t_light .t_red,
  .t_red {
    --color1: var(--color-49);
    --color2: var(--color-50);
    --color3: var(--color-51);
    --color4: var(--color-52);
    --color5: var(--color-53);
    --color6: var(--color-54);
    --color7: var(--color-56);
    --color8: var(--color-142);
    --color9: var(--color-58);
    --color10: var(--color-59);
    --color11: var(--color-60);
    --color12: var(--color-24);
    --background: var(--color-50);
    --backgroundHover: var(--color-51);
    --backgroundPress: var(--color-52);
    --backgroundFocus: var(--color-53);
    --backgroundStrong: var(--color-49);
    --backgroundTransparent: hsla(359, 100%, 99.4%, 0);
    --color: var(--color-24);
    --colorHover: var(--color-60);
    --colorPress: var(--color-24);
    --colorFocus: var(--color-60);
    --colorTransparent: hsla(354, 50%, 14.6%, 0);
    --borderColor: var(--color-52);
    --borderColorHover: var(--color-53);
    --borderColorFocus: var(--color-52);
    --borderColorPress: var(--color-52);
    --placeholderColor: var(--color-58);
    --outlineColor: var(--color-53);
  }
}
:root.t_dark .t_light .t_dark .t_light .t_yellow,
:root.t_dark .t_light .t_yellow,
:root.t_light .t_dark .t_light .t_yellow,
:root.t_light .t_yellow {
  --color1: var(--color-61);
  --color2: var(--color-62);
  --color3: var(--color-63);
  --color4: var(--color-64);
  --color5: var(--color-65);
  --color6: var(--color-66);
  --color7: var(--color-68);
  --color8: var(--color-154);
  --color9: var(--color-70);
  --color10: var(--color-71);
  --color11: var(--color-72);
  --color12: var(--color-24);
  --background: var(--color-62);
  --backgroundHover: var(--color-63);
  --backgroundPress: var(--color-64);
  --backgroundFocus: var(--color-65);
  --backgroundStrong: var(--color-61);
  --backgroundTransparent: hsla(60, 54%, 98.5%, 0);
  --color: var(--color-24);
  --colorHover: var(--color-72);
  --colorPress: var(--color-24);
  --colorFocus: var(--color-72);
  --colorTransparent: hsla(40, 55%, 13.5%, 0);
  --borderColor: var(--color-64);
  --borderColorHover: var(--color-65);
  --borderColorFocus: var(--color-64);
  --borderColorPress: var(--color-64);
  --placeholderColor: var(--color-70);
  --outlineColor: var(--color-65);
}
@media (prefers-color-scheme: light) {
  body {
    background: var(--background);
    color: var(--color);
  }
  .t_dark .t_light .t_yellow,
  .t_yellow {
    --color1: var(--color-61);
    --color2: var(--color-62);
    --color3: var(--color-63);
    --color4: var(--color-64);
    --color5: var(--color-65);
    --color6: var(--color-66);
    --color7: var(--color-68);
    --color8: var(--color-154);
    --color9: var(--color-70);
    --color10: var(--color-71);
    --color11: var(--color-72);
    --color12: var(--color-24);
    --background: var(--color-62);
    --backgroundHover: var(--color-63);
    --backgroundPress: var(--color-64);
    --backgroundFocus: var(--color-65);
    --backgroundStrong: var(--color-61);
    --backgroundTransparent: hsla(60, 54%, 98.5%, 0);
    --color: var(--color-24);
    --colorHover: var(--color-72);
    --colorPress: var(--color-24);
    --colorFocus: var(--color-72);
    --colorTransparent: hsla(40, 55%, 13.5%, 0);
    --borderColor: var(--color-64);
    --borderColorHover: var(--color-65);
    --borderColorFocus: var(--color-64);
    --borderColorPress: var(--color-64);
    --placeholderColor: var(--color-70);
    --outlineColor: var(--color-65);
  }
}
