strict_env

if has nix; then
	export NIXPKGS_ALLOW_BROKEN=1
	use nix --max-jobs auto
	watch_file shell.nix build/nix/**/*.nix
else
    log_error 'Nix must be installed to work with this repository!'
fi


# Asking git to rebase before pull.
# This helps avoiding nasty merge commits between local and remote branches,
# like "Merge branch 'main' of <remote>".
# The slight inconvenience is that git won't pull into a dirty workspace,
# asking to stash or commit the changes before pulling.
if [ "$(git config --get pull.rebase)" != "true" ]; then
    git config pull.rebase true
fi

# Redefining the ports in development
# to allow running release builds and dev builds at the same time.
# These values are passed to seed-daemon via flags when Electron spawns the seed-daemon process.
export SEED_P2P_PORT="58000"
export SEED_HTTP_PORT="58001"
export SEED_GRPC_PORT="58002"
export SEED_SYNCING_NO_SYNC_BACK="1"
export SEED_SYNCING_SMART="1"
export DAEMON_HTTP_URL="http://localhost:58001"
export DAEMON_FILE_URL="http://localhost:58001"

# Local web dev config:
export SEED_BASE_URL="http://localhost:3000"

export VITE_DESKTOP_P2P_PORT="$SEED_P2P_PORT"
export VITE_DESKTOP_HTTP_PORT="$SEED_HTTP_PORT"
export VITE_DESKTOP_GRPC_PORT="$SEED_GRPC_PORT"
export VITE_DESKTOP_GRAPHQL_PORT="58004"

export VITE_DESKTOP_APPDATA="Seed-local"
export VITE_DESKTOP_HOSTNAME="http://localhost"
export VITE_METRIC_SERVER_HTTP_PORT="58003"
export VITE_VERSION="0.0.0.local"
export VITE_COMMIT_HASH="LOCAL_abcdefghijklmnopqrst0123456789qwertyuiopasdfghjklzxcvbnm"

export SEED_P2P_TESTNET_NAME="dev"

export VITE_SEED_HOST_URL="https://host-dev.seed.hyper.media"

export VITE_LIGHTNING_API_URL="https://ln.testnet.seed.hyper.media"
export VITE_GATEWAY_URL="https://dev.hyper.media"
export VITE_NOTIFY_SERVICE_HOST="http://localhost:3060"

# Needed for the Go extension in VS Code to find the right toolchain.
export GOROOT="$(go env GOROOT)"

# Sentry
export VITE_DESKTOP_SENTRY_DSN="https://8d3089ffb71045dc911bc66efbd3463a@o4504088793841664.ingest.sentry.io/4505527460429824"
export SITE_SENTRY_DSN="https://e7703dbcf2ae9a059413b49d343ba415@o4504088793841664.ingest.us.sentry.io/4507979996463104"

export VITE_AVOID_UPDATES="true"

# export SHOW_OB_RESET_BTN=1
# NODE_ENV=test VITE_DESKTOP_P2P_PORT=5800 VITE_DESKTOP_HTTP_PORT=58001 VITE_DESKTOP_GRPC_PORT=58002 VITE_DESKTOP_APPDATA=appData.test.local
