# Force unix-style linefeeds.
* text=auto eol=lf
# GitHub syntax highlighting
backend/util/sqlite/sqlite3.c linguist-vendored=true
backend/util/sqlite/sqlite3.h linguist-vendored=true
backend/util/sqlite/sqlite3ext.h linguist-vendored=true
