save-exact=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=*@types/*
public-hoist-pattern[]=*electron*
public-hoist-pattern[]=*@radix-ui/*
public-hoist-pattern[]=*@mantine/*
public-hoist-pattern[]=*prosemirror-*
public-hoist-pattern[]=*@ariakit/*
public-hoist-pattern[]=w3c-keyname
public-hoist-pattern[]=jdenticon
public-hoist-pattern[]=react-icons
public-hoist-pattern[]=tippy.js
public-hoist-pattern[]=nostr-tools
public-hoist-pattern[]=*@tiptap/*
public-hoist-pattern[]=*@popperjs/*
public-hoist-pattern[]=*@floating-ui/*
public-hoist-pattern[]=*@xstate/*
public-hoist-pattern[]=*@sentry/*
public-hoist-pattern[]=*@ungap/*
public-hoist-pattern[]=use-isomorphic-layout-effect
public-hoist-pattern[]=use-sync-external-store
public-hoist-pattern[]=use-sidecar
public-hoist-pattern[]=highlight.js
public-hoist-pattern[]=lowlight
public-hoist-pattern[]=orderedmap
public-hoist-pattern[]=devlop
public-hoist-pattern[]=dequal
public-hoist-pattern[]=html-void-elements
public-hoist-pattern[]=base64-js
public-hoist-pattern[]=ieee754
public-hoist-pattern[]=buffer
public-hoist-pattern[]=tslib
public-hoist-pattern[]=clsx
public-hoist-pattern[]=zwitch
public-hoist-pattern[]=date-fns
public-hoist-pattern[]=react-day-picker
public-hoist-pattern[]=comma-separated-tokens
public-hoist-pattern[]=property-information
public-hoist-pattern[]=hast-util-*
public-hoist-pattern[]=mdast-util-*
public-hoist-pattern[]=micromark-*
public-hoist-pattern[]=unist-util-*
public-hoist-pattern[]=hastscript
public-hoist-pattern[]=rehype-*
public-hoist-pattern[]=remark-*
strict-peer-dependencies=false
auto-install-peers=true
shamefully-hoist=true
enable-pre-post-scripts=true
ignore-scripts=false
