.node-inline-embed,
.inline-embed-token {
  display: inline;
}

.inline-embed-token:hover {
  box-shadow: 0 2px 0 0 var(--brand5);
}

.inline-embed-token.selected {
  box-shadow: 0 2px 0 0 var(--brand5);
}