.document-container {
  width: 100%;
  max-width: 100%;
  flex: 1 1 0%;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto 120px auto;
  /* 
  grid-template-columns: 20px minmax(0, 1fr);
  gap: 1rem; */
}

@media (min-width: 768px) {
  .document-container {
    display: grid !important;
    grid-template-columns: 240px minmax(0, 1fr);
    gap: 1rem;
  }
}

/* @media (min-width: 1280px) {
  .document-container {
    grid-template-columns: 280px minmax(0, 1fr);
    gap: 2rem;
  }
} */

.document-aside {
  position: fixed !important;
  top: 150px !important;
  padding-left: 16px;
  z-index: 30;
  margin-left: -0.5rem;
  display: none !important;
  height: calc(90vh - 150px);
  width: 100%;
  flex-shrink: 0;
  max-width: 32px;
}

.is-desktop.document-aside {
  display: flex !important;
}

@media (min-width: 768px) {
  .document-aside {
    position: sticky !important;
    display: block !important;
    max-width: 100%;
    overflow: auto;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
