:root {
  --content-width: 1080px;
  --content-width-small: 880px;
  --content-width-large: 1280px;
}

.hide-outline {
  max-width: calc(var(--content-width) - 120px);
}

.content-width-small {
  --content-width: var(--content-width-small);
}

.content-width-large {
  --content-width: var(--content-width-large);
}

.document-container {
  width: 100%;
  max-width: 100%;
  flex: 1 1 0%;
  align-items: flex-start;
  max-width: var(--content-width);
  margin: 0 auto 120px auto;
  transform: translateX(-50px);
  /* 
  grid-template-columns: 20px minmax(0, 1fr);
  gap: 1rem; */
}

@media (min-width: 768px) {
  .document-container {
    display: grid !important;
    grid-template-columns: 280px minmax(0, 1fr);
    gap: 1rem;
  }

  .document-container.hide-outline {
    display: flex !important;
  }
}

.document-aside {
  position: fixed !important;
  top: 150px !important;
  /* padding-left: 16px; */
  z-index: 30;
  margin-left: -0.5rem;
  display: none !important;
  height: calc(90vh - 150px);
  width: 100%;
  flex-shrink: 0;
  max-width: 32px;
}

.is-desktop.document-aside {
  display: flex !important;
}

@media (min-width: 768px) {
  .document-aside {
    position: sticky !important;
    display: block !important;
    max-width: 100%;
    overflow: auto;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
