.document-aside {
  position: fixed !important;
  top: 150px !important;
  /* padding-left: 16px; */
  z-index: 30;
  margin-left: -4px;
  display: none !important;
  height: calc(90vh - 150px);
  width: 100%;
  flex-shrink: 0;
  max-width: 12px;
}

.is-desktop.document-aside {
  display: flex !important;
}

@media (min-width: 768px) {
  .document-aside {
    position: sticky !important;
    display: block !important;
    max-width: 100%;
    overflow: auto;
    margin-left: 0;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

[data-list-type='Ordered']
  > ol
  > [data-node-type='blockContainer']
  > [data-list-type='Group'],
[data-list-type='Unordered']
  > ul
  > [data-node-type='blockContainer']
  > [data-list-type='Group'] {
  padding-left: 0;
}
