direnv version 2.37.1

if ! has mise; then
    log_error "Command mise must be installed to work with this repository!
Please install mise following the instructions on https://mise.jdx.dev."
    exit 0
fi

mise trust -q
mise install
eval "$(mise activate bash)"
watch_file ./mise.toml

export SEED_VAULT_HTTP_PORT=3030
export SEED_VAULT_RP_ID="localhost"
export SEED_VAULT_RP_ORIGIN="http://localhost:${SEED_VAULT_HTTP_PORT}"
