---
// Component Script (JavaScript)
import {listDocuments} from "../list-documents";

const documents = await listDocuments(Astro.locals.accountUid);
---

<!-- Component Template (HTML + JS Expressions) -->
<header class="mx-auto px-4 w-full max-w-3xl mt-8 md:mt-16 md:px-8 lg:mt-16">
  <h1 class="text-xl font-bold">
    <a href="/">Horacio Herrera</a>
  </h1>
  <nav class="py-4">
    <ul class="flex">
      {
        documents.map((item) => (
          <li class="px-4 pl-0">
            <a href={item.path}>{item.metadata.name}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
