name: Generate latest.json (prod)

on:
  workflow_dispatch:

  release:
    types: [published]

jobs:
  generate-latest-json:
    runs-on: ubuntu-latest

    steps:
      # Check out the repository code
      - name: Checkout repository

        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Setup Node.js
      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      # Configure AWS Credentials
      - name: Configure AWS Credentials

        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.S3_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.S3_SECRET_KEY }}
          aws-region: eu-west-2

      # Generate prod-latest.json
      - name: Generate prod-latest.json

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: node scripts/generate-prod-latest.js > .github/latest.json

      # Upload to S3
      - name: Upload latest.json to S3

        run: aws s3 cp .github/latest.json s3://seedreleases/prod/latest.json
