# Simple workflow for deploying static content to GitHub Pages
name: Deploy Seed Landing Page

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]
    paths:
      - "frontend/apps/landing/**"
      - ".github/workflows/landing-deployment.yml"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets the GITHUB_TOKEN permissions to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.15.0

      - name: Install Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install Frontend Dependencies
        run: |
          pnpm install

      - name: Build
        run: pnpm landing:build

      - name: Start Landing Preview
        run: |
          pnpm landing:preview &
          sleep 5 # Wait for server to start

      - name: Run Performance Tests
        run: |
          cd frontend/apps/perf-web
          pnpm start --url http://localhost:4173 --app landing

      - name: Setup SSH key and SCP
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.ACTIONS_USER_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          scp -i ~/.ssh/id_rsa -C -r -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null frontend/apps/landing/dist/ github@hyper.media:/home/github/landing

          rm -f ~/.ssh/id_rsa

    #   - name: Upload Artifacts
    #     uses: actions/upload-artifact@v4
    #     with:
    #       name: landing-build
    #       path: frontend/apps/landing/dist/**/*

#   jobs:
#   deploy:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v4

#       - name: Setup SSH key and SCP
#         run: |
#           mkdir -p ~/.ssh
#           echo "${{ secrets.ACTIONS_USER_KEY }}" > ~/.ssh/id_rsa
#           chmod 600 ~/.ssh/id_rsa

#           scp -i ~/.ssh/id_rsa -C - r folder/ github@hyped.media:/home/github/landing

#           rm -f ~/.ssh/id_rsa
