name: Release - Desktop App

permissions:
  contents: write

on:
  workflow_dispatch:
  push:
    tags:
      - "*.*.*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  AWS_REGION: us-east-1

jobs:
  build-info:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.set_version.outputs.version }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set Version
        id: set_version
        run: |
          VERSION=${{ github.ref_name }}
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Display Version
        run: |
          echo "App Version: ${{ steps.set_version.outputs.version }}"

  frontend-tests:
    runs-on: ubuntu-latest
    needs: [build-info]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Check for new TypeScript directives
        run: node scripts/check-ts-directives.mjs
      - name: Install dependencies
        run: yarn install
      - name: Validate Code Formatting
        run: yarn format:check
      - name: Validate TypeScript
        run: yarn typecheck
      - name: Run tests
        run: yarn test

  build-binaries:
    timeout-minutes: 30
    name: Build ${{ matrix.config.os }} @ ${{ matrix.config.arch }}
    runs-on: ${{ matrix.config.os }}
    needs: [build-info, frontend-tests]
    strategy:
      matrix:
        config:
          - os: macos-15-large
            arch: x64
            goarch: amd64
            daemon_name: x86_64-apple-darwin
          - os: macos-15-xlarge
            arch: arm64
            goarch: arm64
            daemon_name: aarch64-apple-darwin
          - os: ubuntu-latest
            arch: x64
            goarch: amd64
            daemon_name: x86_64-unknown-linux-gnu
          - os: windows-2025
            arch: x64
            goarch: amd64
            daemon_name: x86_64-pc-windows-msvc
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: ./.github/actions/ci-setup
        with:
          matrix-os: ${{ matrix.config.os }}
          # matrix-target: ${{ matrix.config.daemon_name }}
          # matrix-arch: ${{ matrix.config.arch }}

      - name: Build Backend (Unix)
        if: matrix.config.os != 'windows-2025'
        run: |
          mkdir -p plz-out/bin/backend
          go build -o plz-out/bin/backend/seed-daemon-${{ matrix.config.daemon_name }} ./backend/cmd/seed-daemon
        env:
          GOARCH: ${{ matrix.config.goarch }}
          CGO_ENABLED: 1

      - name: Build Backend (Windows)
        if: startsWith(matrix.config.os, 'windows')
        run: |
          mkdir -p plz-out/bin/backend
          go build -o plz-out/bin/backend/seed-daemon-${{ matrix.config.daemon_name }}.exe ./backend/cmd/seed-daemon
        env:
          GOOS: "windows"
          GOARCH: ${{ matrix.config.goarch }}
          CGO_ENABLED: 1

      - name: Set MacOS signing certs
        if: startsWith(matrix.config.os, 'macos')
        env:
          APPLE_CERTIFICATE: ${{ secrets.APPLE_CERTIFICATE_BASE64 }}
          APPLE_CERTIFICATE_PASSWORD: ${{ secrets.APPLE_CERTIFICATE_PASSWORD }}
          APPLE_KEYCHAIN_PASSWORD: ${{ secrets.APPLE_KEYCHAIN_PASSWORD }}
        run: |
          echo $APPLE_CERTIFICATE | base64 --decode > certificate.p12
          security create-keychain -p $APPLE_KEYCHAIN_PASSWORD build.keychain
          security default-keychain -s build.keychain
          security unlock-keychain -p $APPLE_KEYCHAIN_PASSWORD build.keychain
          security import certificate.p12 -k build.keychain -P $APPLE_CERTIFICATE_PASSWORD -T /usr/bin/codesign
          security set-key-partition-list -S apple-tool:,apple: -s -k $APPLE_KEYCHAIN_PASSWORD build.keychain
          rm -fr *.p12
          security set-keychain-settings -lut 1200 # prevent the keychain to get locked before codesign is done

      - name: Set temporal version in package.json
        run: |
          node scripts/set-desktop-version.mjs
        env:
          VITE_VERSION: "${{ needs.build-info.outputs.version }}"
      - name: Build, package & make (Unix)
        if: matrix.config.os != 'windows-2025'
        run: |
          yarn desktop:make --arch=${{ matrix.config.arch }}
        env:
          timeout-minutes: 10
          DEBUG: electron-*
          NODE_OPTIONS: --max_old_space_size=4096
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          DAEMON_NAME: ${{ matrix.config.daemon_name }}
          VITE_VERSION: "${{ needs.build-info.outputs.version }}"
          VITE_COMMIT_HASH: "${{ github.sha }}"
          VITE_DESKTOP_P2P_PORT: "56000"
          VITE_DESKTOP_HTTP_PORT: "56001"
          VITE_DESKTOP_GRPC_PORT: "56002"
          VITE_DESKTOP_GRAPHQL_PORT: "58004"
          VITE_METRIC_SERVER_HTTP_PORT: "56003"
          VITE_DESKTOP_APPDATA: "Seed"
          VITE_DESKTOP_HOSTNAME: "http://localhost"
          VITE_LIGHTNING_API_URL: "https://ln.seed.hyper.media"
          VITE_GATEWAY_URL: "https://hyper.media"
          VITE_NOTIFY_SERVICE_HOST: "https://notify.seed.hyper.media"
          VITE_DESKTOP_SENTRY_DSN: "${{ secrets.DESKTOP_SENTRY_DSN }}"
          VITE_SEED_HOST_URL: "https://host.seed.hyper.media"
          SENTRY_AUTH_TOKEN: "${{ secrets.SENTRY_AUTH_TOKEN }}"
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}

      - name: Build, package and make (Win32)
        if: startsWith(matrix.config.os, 'windows')
        run: |
          yarn desktop:make --arch=${{ matrix.config.arch }}
        env:
          timeout-minutes: 10
          DEBUG: electron-*
          NODE_OPTIONS: --max_old_space_size=4096
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          DAEMON_NAME: "${{ matrix.config.daemon_name }}.exe"
          VITE_VERSION: "${{ needs.build-info.outputs.version }}"
          VITE_COMMIT_HASH: "${{ github.sha }}"
          VITE_DESKTOP_P2P_PORT: "56000"
          VITE_DESKTOP_HTTP_PORT: "56001"
          VITE_DESKTOP_GRPC_PORT: "56002"
          VITE_DESKTOP_GRAPHQL_PORT: "58004"
          VITE_METRIC_SERVER_HTTP_PORT: "56003"
          VITE_DESKTOP_APPDATA: "Seed"
          VITE_DESKTOP_HOSTNAME: "http://localhost"
          VITE_LIGHTNING_API_URL: "https://ln.seed.hyper.media"
          VITE_GATEWAY_URL: "https://hyper.media"
          VITE_NOTIFY_SERVICE_HOST: "https://notify.seed.hyper.media"
          VITE_DESKTOP_SENTRY_DSN: "${{ secrets.DESKTOP_SENTRY_DSN }}"
          VITE_SEED_HOST_URL: "https://host.seed.hyper.media"
          SENTRY_AUTH_TOKEN: "${{ secrets.SENTRY_AUTH_TOKEN }}"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifacts-${{ matrix.config.daemon_name }}
          path: frontend/apps/desktop/out/make/**/*
  publish-to-github:
    needs: [build-info, build-binaries]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: "create release"
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          tag_name: "${{ needs.build-info.outputs.version }}"
          prerelease: true
          generate_release_notes: true
          files: ./artifacts/artifacts-*/**/*
