body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  cursor: default;
}

*:hover {
  cursor: default !important;
}

.accessory-resize-handle {
  width: 1px;
  background-color: var(--color7);
}

.accessory-resize-handle:hover {
  cursor: col-resize !important;
  background-color: var(--color8);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.window-drag {
  -webkit-app-region: drag;
}

.no-window-drag {
  -webkit-app-region: no-drag;
}

.split-view-view {
  height: 100%;
}

/* ::-webkit-scrollbar {
  display: none;
} */
#scroll-page-wrapper::-webkit-scrollbar {
  display: auto;
}

.main-scroll-wrapper::-webkit-scrollbar {
  display: auto;
}

.btn * {
  cursor: default !important;
}

.btn *:hover {
  cursor: default !important;
}
