body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  cursor: default;
  overscroll-behavior: none;
}

/* TODO: figure out why was this style added */
/* *:hover {
  cursor: default !important;
} */

.panel-resize-handle {
  width: 2px;
  position: relative;
}
.panel-resize-handle.visible {
  background-color: var(--color-border);
}

.panel-resize-handle::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  width: 10px;
  height: 100%;
  background: transparent;
  z-index: 900;
  pointer-events: auto;
  cursor: col-resize !important;
}

.panel-resize-handle:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.dark .panel-resize-handle:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.window-drag {
  -webkit-app-region: drag;
}

.no-window-drag {
  -webkit-app-region: no-drag;
}

.split-view-view {
  height: 100%;
}

/* ::-webkit-scrollbar {
  display: none;
} */
#scroll-page-wrapper::-webkit-scrollbar {
  display: auto;
}

.main-scroll-wrapper::-webkit-scrollbar {
  display: auto;
}

.btn * {
  cursor: default !important;
}

.btn *:hover {
  cursor: default !important;
}
