---
import DocumentContent from "../components/DocumentContent.astro";
import Header from "../components/Header.astro";
import {getDocument} from "../get-document";

const document = await getDocument(
  `${Astro.locals.accountUid}/${Astro.params.slug!}`
);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <DocumentContent document={document} />
  </body>
</html>
