---
import DocumentContent from "../components/DocumentContent.astro";
import Header from "../components/Header.astro";
import {getDocument} from "../get-document";

const homeDocument = await getDocument(Astro.locals.accountUid);

console.log(`== ~ homeDocument:`, homeDocument.content);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Horacio Herrera</title>
  </head>
  <body>
    <Header />
    <DocumentContent isIndex document={homeDocument} />
  </body>
</html>
